<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68570484491-p7bbt15ps4oja32gag14kjiae91ij270.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68570484491-p7bbt15ps4oja32gag14kjiae91ij270</string>
	<key>API_KEY</key>
	<string>AIzaSyCfiSTqfbjIK7XtFQrrLvV3vQT6ABJnblg</string>
	<key>GCM_SENDER_ID</key>
	<string>68570484491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.smartsolar.Meta-Insta</string>
	<key>PROJECT_ID</key>
	<string>meta-insta-2588d</string>
	<key>STORAGE_BUCKET</key>
	<string>meta-insta-2588d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68570484491:ios:f2f566e0f28ca9aa209c0e</string>
</dict>
</plist>